
*{
    font-family: "Lato", sans-serif;
}
p{
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.x{
    inset-block-start: 10px;
    font-size:x-small;
    
    
}
#ffh{
    border-width: 10px 10px;
}
.y{
    position: fixed;        
}
    
.social-icons {
    display: flex;
    justify-content:center; 
    gap: 20px; 
    margin-top: 10px;
    margin-right: 200px; 
  }
  
  .social-icons i {
    font-size: 15px;
    
  }
  
.container-fluid {
    cial-icons {
        display: flex;
        justify-content:center; 
        gap: 20px; 
        margin-top: 10px;
        margin-right: 200px;
        inset-block-start: 10px;
        font-size:x-small;
        
    }
}

.people
{
    color:red
}

.carousel-inner{
    width: auto;
    height: 700px;
}

.card:hover i{
    color:rgb(0, 0, 0)
}
.card:hover h6{
    color:rgb(0, 0, 0)
}

.blink {
  animation: blinker 0.8s step-end infinite;
  font-size: large;
  color:maroon;
  
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}